In [630]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt
#from sklearn.preprocessing import PolynomialRegression
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, f1_score
from math import sqrt, pi
#import plotly.express as px

In [642]:
df = pandas.read_csv('new_banknote.csv')
print(df.head(10))

#df_sub = df.sample(n=2, axis='columns', replace = False ,random_state=4)
#print(df_sub.head())

   Variance  Skewness  Curtosis  Entropy  Class
0  -3.49170  -12.1736  14.36890 -0.61639      1
1   3.65750    7.2797  -2.26920 -1.14400      0
2  -0.98540   -6.6610   5.82450  0.54610      1
3  -1.83480   11.0334   3.18630 -4.88880      0
4  -0.27802    8.1881  -3.13380 -2.52760      0
5   0.57340    9.1938  -0.90940 -1.87200      0
6  -5.38570    9.1214  -0.41929 -5.91810      1
7  -3.37930  -13.7731  17.92740 -2.03230      1
8   4.14540    7.2570  -1.91530 -0.86078      0
9   0.38251    6.8121   1.81280 -0.61251      0

In [643]:
df.transpose().describe()

,0,1,2,3,4,5,6,7,8,9,...,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370
count,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,-0.182558,1.504800,-0.05516,1.499220,0.449736,1.397160,-0.320338,-0.051460,1.725264,1.678980,...,1.117880,0.103027,-0.638936,1.446048,-0.218328,-0.805980,-0.542280,-0.546336,1.190366,0.200780
std,9.592537,3.921327,4.48742,6.081056,4.536530,4.456059,6.080550,11.485062,3.852760,3.004894,...,4.480624,1.588705,5.462202,3.410182,4.382960,4.624055,3.726819,1.173123,2.669107,6.828692
min,-12.173600,-2.269200,-6.66100,-4.888800,-3.133800,-1.872000,-5.918100,-13.773100,-1.915300,-0.612510,...,-3.725800,-1.390700,-6.775400,-2.222400,-5.713300,-5.874100,-4.827700,-2.066200,-2.105500,-5.802300
25%,-3.491700,-1.144000,-0.98540,-1.834800,-2.527600,-0.909400,-5.385700,-3.379300,-0.860780,0.000000,...,-1.306900,-1.378100,-4.477900,0.000000,-2.790800,-5.286100,-4.006900,-1.005400,0.000000,-5.047700
50%,-0.616390,0.000000,0.54610,0.000000,-0.278020,0.000000,-0.419290,-2.032300,0.000000,0.382510,...,0.000000,-0.021566,-0.312180,0.447840,0.459460,1.000000,1.000000,-0.829750,0.296530,-0.390100
75%,1.000000,3.657500,1.00000,3.186300,0.000000,0.573400,1.000000,1.000000,4.145400,1.812800,...,2.614000,1.000000,1.000000,2.126500,1.000000,1.257200,1.230900,0.169670,3.192900,1.000000
max,14.368900,7.279700,5.82450,11.033400,8.188100,9.193800,9.121400,17.927400,7.257000,6.812100,...,8.008100,2.305500,7.370800,6.878300,5.953000,4.873100,3.892300,1.000000,4.567900,11.244000

In [644]:
df = pd.read_csv('new_banknote.csv')

df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Variance,1371.0,0.431410,2.842494,-7.0421,-1.77470,0.49571,2.81465,6.8248
Skewness,1371.0,1.917434,5.868359,-13.7731,-1.71130,2.31340,6.81310,12.9516
Curtosis,1371.0,1.400694,4.310105,-5.2861,-1.55335,0.61663,3.18160,17.9274
Entropy,1371.0,-1.192200,2.101683,-8.5482,-2.41700,-0.58665,0.39481,2.4495
Class,1371.0,0.444931,0.497139,0.0000,0.00000,0.00000,1.00000,1.0000

In [645]:
target_column = ['Class']
predictors = list(set(list(df.columns))-set(target_column)) # KICK THE CLASS COLUMN BEFORE NORMALIZATION
df[predictors] = df[predictors]/df[predictors].max() # NORMALIZE THE COLUMNS
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Variance,1371.0,0.063212,0.416495,-1.031840,-0.260037,0.072634,0.412415,1.0
Skewness,1371.0,0.148046,0.453099,-1.063428,-0.132130,0.178619,0.526043,1.0
Curtosis,1371.0,0.078131,0.240420,-0.294861,-0.086647,0.034396,0.177471,1.0
Entropy,1371.0,-0.486711,0.858005,-3.489773,-0.986732,-0.239498,0.161180,1.0
Class,1371.0,0.444931,0.497139,0.000000,0.000000,0.000000,1.000000,1.0

In [646]:
X = df[predictors].values
Y = df[target_column].values

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, train_size = 0.7, random_state = 40)
#validation = df.radd

print(df.count())
print(type(X_train))
print(type(Y_train))
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

print(df[['Variance', 'Skewness', 'Curtosis', 'Entropy']].corr()['Variance'][:])
print(df[['Variance', 'Skewness', 'Curtosis', 'Entropy']].corr()['Skewness'][:])
print(df[['Variance', 'Skewness', 'Curtosis', 'Entropy']].corr()['Curtosis'][:])
print(df[['Variance', 'Skewness', 'Curtosis', 'Entropy']].corr()['Entropy'][:])

Variance    1371
Skewness    1371
Curtosis    1371
Entropy     1371
Class       1371
dtype: int64
<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
(959, 4)
(412, 4)
(959, 1)
(412, 1)
Variance    1.000000
Skewness    0.263333
Curtosis   -0.380358
Entropy     0.276666
Name: Variance, dtype: float64
Variance    0.263333
Skewness    1.000000
Curtosis   -0.786729
Entropy    -0.526896
Name: Skewness, dtype: float64
Variance   -0.380358
Skewness   -0.786729
Curtosis    1.000000
Entropy     0.319219
Name: Curtosis, dtype: float64
Variance    0.276666
Skewness   -0.526896
Curtosis    0.319219
Entropy     1.000000
Name: Entropy, dtype: float64

In [647]:
mlp = MLPClassifier(hidden_layer_sizes=(5,5,5), activation='relu', solver='adam', max_iter=1000)
mlp.fit(X_train,Y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

print(predict_train.size)
print(predict_test.size)
print(type(mlp))

959
412
<class 'sklearn.neural_network._multilayer_perceptron.MLPClassifier'>

In [648]:
print('Number of 0\'s in the Dataframe: ' + str(((df['Class'].where(df['Class']==0)).dropna()).size))
print('Number of 1\'s in the Dataframe: ' + str(((df['Class'].where(df['Class']==1)).dropna()).size))
print('Rows in the Dataset: ' + str((df.shape[0])))

Number of 0's in the Dataframe: 761
Number of 1's in the Dataframe: 610
Rows in the Dataset: 1371

In [649]:
print('Number of 0\'s in the Training Set: '); print(numpy.count_nonzero(Y_train == 0))
print('Number of 1\'s in the Training Set: '); print(numpy.count_nonzero(Y_train == 1))

Number of 0's in the Training Set:
531
Number of 1's in the Training Set:
428

In [650]:
print('Confusion Matrix of Train Set:'); print(confusion_matrix(Y_train, predict_train))
print('Classification Report of Train Set:'); print(classification_report(Y_train, predict_train))

Confusion Matrix of Train Set:
[[531   0]
 [  0 428]]
Classification Report of Train Set:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       531
           1       1.00      1.00      1.00       428

    accuracy                           1.00       959
   macro avg       1.00      1.00      1.00       959
weighted avg       1.00      1.00      1.00       959

In [651]:
print('Confusion Matrix of Test Set:'); print(confusion_matrix(Y_test,predict_test))
print('Classification Report of Test Set:'); print(classification_report(Y_test,predict_test))
#print(f1_score(Y_test, predict_test))

Confusion Matrix of Test Set:
[[230   0]
 [  0 182]]
Classification Report of Test Set:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       230
           1       1.00      1.00      1.00       182

    accuracy                           1.00       412
   macro avg       1.00      1.00      1.00       412
weighted avg       1.00      1.00      1.00       412

1.0